<div class="container">
  <div class="row ">
    <div class="col-md-3 mx-auto border shadow mt-5 border-dark">
      <h3 class="text-center mt-3">Login</h3>
      <div class="card border-0 p-3">
                  <form #loginForm="ngForm" (ngSubmit)="login()">
                    <!-- {{ loginForm.invalid | json }} -->
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4 form-floating">
                      <input type="email" id="username" class="form-control" placeholder="" 
                      [(ngModel)] = "username" name="username" required
                      #userInPut = 'ngModel'
                      />                      
                      <label class="form-label" for="username">User Name</label>
                      <div class="alert alert-danger m-0" *ngIf="userInPut.touched && userInPut.invalid">
                        <span *ngIf="userInPut.errors?.['required']">User Name is compulsory</span>                                             
                      </div>
                    </div>
                  
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4 form-floating">
                      <input type="password" id="password" class="form-control" placeholder="" password
                      [(ngModel)] = "Password" name="Password" #passwordImput = 'ngModel' required
                      />
                      <label class="form-label" for="password">Password</label>
                      <!-- {{passwordImput.errors | json}} -->
                      <div class="alert alert-danger" *ngIf="passwordImput.invalid && passwordImput.touched">
                        <span>
                          Password is compulsory
                        </span>
                      </div>
                    </div>
                  
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4 text-center">                  
                      <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                      </div>
                    </div>
                  
                    <!-- Submit button -->
                     <div class="d-flex justify-content-center">
                         <button  type="submit" data-mdb-button-init data-mdb-ripple-init
                          class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">Login</button>
                    </div>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Not a user? <a href="/register">Register</a></p>
                    </div>
                  </form>
            </div>
        </div>    
    </div>

</div>
