<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myCart" *ngIf="status()">My Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" *ngIf="status()">My Profile</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" *ngIf="status()" (click)="logoutUser()">Logout</button>
        </li>
        <li class="nav-item dropdown" *ngIf="!status()">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item" routerLink="/register">Register</a></li>
          </ul>
        </li>

      </ul>
      <!-- Search Bar -->
       <div class="d-flex flex-column">
         <form class="d-flex" role="search" (ngSubmit)="searchInput()" #formVaild = 'ngForm'>
           <input class="form-control me-2" name="search" [(ngModel)]="search" 
           type="search" placeholder="Search" aria-label="Search" 
           required  #searchQuery = 'ngModel' />
           <button class="btn btn-success" type="submit" [disabled]="formVaild.invalid">Search</button>
          </form>
        </div>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>
<div class="container-fluid bg-info">
  <footer class="py-5 mt-4">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-3">
        <form #loginForm="ngForm" (ngSubmit)="submit()">
          <!-- {{ loginForm.invalid | json }} -->
            <h5 class="text-center mb-5">FeedBack Form</h5>
          <!-- UserName input -->
          <div data-mdb-input-init class="form-outline mb-4 form-floating">
            <input type="email" id="username" class="form-control" placeholder="" [(ngModel)] = "username" name="username" required
            #userInPut = 'ngModel'
            />                      
            <label class="form-label" for="username">User Name</label>
            <div class="alert alert-danger m-0" *ngIf="userInPut.touched && userInPut.invalid">
              <span *ngIf="userInPut.errors?.['required']">User name is compulsory</span>                                             
            </div>
          </div>
          <!-- Email Input -->
          <div data-mdb-input-init class="form-outline mb-4 form-floating">
            <input type="email" id="username" class="form-control" placeholder="" 
            [(ngModel)] = "email" name="email" required
            #emailInPut = 'ngModel'
            />                      
            <label class="form-label" for="username">Email</label>
            <div class="alert alert-danger m-0" *ngIf="emailInPut.touched && emailInPut.invalid">
              <span *ngIf="emailInPut.errors?.['required']">Email is compulsory</span>                                             
            </div>
          </div>
        
          <!-- FeedBack field input -->
          <div data-mdb-input-init class="form-outline mb-4 form-floating">
            <textarea type="password" id="feeedback" class="form-control" 
              placeholder="" [(ngModel)] = "feedback" name="feedback"
               #feedBackImput = 'ngModel' required maxlength="500" minlength="20">
            </textarea>
            <label class="form-label" for="feeedback">FeedBack</label>
            <!-- {{feedBackImput.errors | json}} -->
            <div class="alert alert-danger" *ngIf="feedBackImput.invalid && feedBackImput.touched">
              <span *ngIf="feedBackImput.errors?.['required']">FeedBack field is compulsory</span>
              <span *ngIf="feedBackImput.errors?.['maxlength']">
                FeedBack field should not be more than 500 characters
              </span>
              <span *ngIf="feedBackImput.errors?.['minlength']">
                FeedBack field should be at least 20 characters long
              </span>
            </div>
          </div>
        
          <!-- Submit button -->
           <div class="d-flex justify-content-center">
               <button  type="submit" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">Submit FeedBack</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2024 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram fs-3"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook fs-3"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter fs-3"></i></a></li>
      </ul>
    </div>
  </footer>
</div>