<p>product-list works!</p>
<div class="container">

    <div class="row">
        <div class="col-md-3 mt-4" >
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ productDetails.name}}</h5>
                    <p class="card-text">{{ productDetails.brand}}</p>
                    <p class="card-text">{{ productDetails.price | currency:'INR'}}</p>
                </div>
            </div>
        </div>
    </div>
    <button (click)="backToProductList()" class="btn btn-primary mt-2 w-100">
        <span class="text-center">
            Back to product list
        </span>
    </button>
</div>