
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between mt-3 mb-0">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" (click)="getProductByCategory('all')">All</button></li>
                  <li *ngFor="let data of category"><button class="dropdown-item" (click)="getProductByCategory(data.slug)">{{data.name}}</button></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort by
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" (click)="sortProductsByPrices('desc')">High to Low</button></li>
                  <li><button class="dropdown-item" (click)="sortProductsByPrices('asc')">Low to High</button></li>
                </ul>
              </div>
        </div>
        <div class="col-md-3 mt-4 d-flex" *ngFor="let product of sortedProducts | paginate :{itemsPerPage: itemsPerPage, currentPage: page}">
            <div class="card shadow h-100 w-100 d-flex flex-column" style="width: 100%;">
                <img [src]="[product.thumbnail]" class="card-img-top" alt="..." loading="lazy"/>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title}}</h5>
                    <p class="card-text">{{ product.category}}</p>
                    <p class="card-text">{{ product.price | currency}}</p>
                </div>
                    <button [routerLink]="['/products/' , product.id]" class="btn btn-primary card-footer">View Details</button>
            </div>
        </div>
        <!-- Pagination Controls -->
         <div class="d-flex justify-content-center shadow my-4">
           <pagination-controls (pageChange)="page = $event"></pagination-controls>
         </div>
      </div>
</div>