<!-- <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Example title.</font></font></h1>
          <p class="opacity-75"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Statistical studies, according to the American Language Association, indicate that interest in Arabic increased by 126% in the United States alone between 2002 and 2009.</font></font></p>
          <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Register today</font></font></a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Another example title.</font></font></h1>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">According to the British Council, teaching English in Britain contributes more than £2 billion annually to the UK economy and has created more than 26,000 jobs.</font></font></p>
          <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">learn more</font></font></a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">One more for good measure.</font></font></h1>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Statistics on the size of language investment abroad vary from year to year, but British Council Executive Director Eddie Byers believes that investment in teaching English abroad is not only financial but also political.</font></font></p>
          <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Browse the gallery</font></font></a></p>
        </div>
      </div>
    </div>  
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the previous</font></font></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the next</font></font></span>
  </button>
</div> -->
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between mt-3 mb-0">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" (click)="getProductByCategory('all')">All</button></li>
                  <li *ngFor="let data of category"><button class="dropdown-item" (click)="getProductByCategory(data.slug)">{{data.name}}</button></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort by
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" (click)="sortProductsByPrices('desc')">High to Low</button></li>
                  <li><button class="dropdown-item" (click)="sortProductsByPrices('asc')">Low to High</button></li>
                </ul>
              </div>
        </div>
        <div class="col-md-3 mt-4 d-flex" *ngFor="let product of sortedProducts | paginate :{itemsPerPage: itemsPerPage, currentPage: page}">
            <div class="card shadow h-100 w-100 d-flex flex-column" style="width: 100%;">
                <img [src]="[product.thumbnail]" class="card-img-top" alt="..." loading="lazy"/>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title}}</h5>
                    <strong class="card-text">{{ product.category}}</strong>
                    <p class="card-description">{{ product.description | slice:0:50 }}...</p>
                    <p class="card-text">{{ product.price | currency}}</p>
                </div>
                    <button [routerLink]="['/products/' , product.id]" class="btn btn-primary card-footer">View Details</button>
            </div>
        </div>
        <!-- Pagination Controls -->
         <div class="d-flex justify-content-center shadow my-4">
           <pagination-controls (pageChange)="page = $event"></pagination-controls>
         </div>
      </div>
</div>