
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4 d-flex" *ngFor="let product of products.products">
            <div class="card shadow h-100 w-100 d-flex flex-column" style="width: 100%;">
                <img [src]="[product.thumbnail]" class="card-img-top" alt="..." loading="lazy"/>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title}}</h5>
                    <p class="card-text">{{ product.category}}</p>
                    <p class="card-text">{{ product.price | currency}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button [routerLink]="['/products/' , product.id]" class="btn btn-outline-primary">View Details</button>
                    <button [routerLink]="['/products/' , product.id]" class="btn btn-outline-primary">Add Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>